* {
  margin: 0px;
  padding: 0px;
  /* background-color: #000; */
}

/* p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
div {
  color: #fff;
} */

a {
  text-decoration: none;
}

.img_1,
.img_2,
.img_3,
.about_card_logo {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .img_1,
  .img_2,
  .img_3,
  .about_card_logo {
    animation: App-logo-spin infinite 15s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}



.portfolio_style {
  color: #0088ff !important;
  font-size: 1.5rem !important;
  font-weight: bold !important;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, red, blue) !important;
  -webkit-text-fill-color: transparent !important;
  -webkit-background-clip: text !important;


  background: #FFB76B !important;
  background: linear-gradient(to right, #FFB76B 0%, #FFA73D 30%, #FF7C00 60%, #FF7F04 100%);
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;



}


/* home */

.text_heading_1 {
  color: #0088ff !important;
  font-weight: bold !important;
  font-size: 3rem !important;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, red, blue) !important;
  -webkit-text-fill-color: transparent !important;
  -webkit-background-clip: text !important;
}

.text_technology_heading {
  color: hsl(0, 99%, 53%) !important;
  font-weight: bold !important;
  font-size: 3rem !important;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, rgb(88, 10, 244), rgb(255, 113, 5)) !important;
  -webkit-text-fill-color: transparent !important;
  -webkit-background-clip: text !important;
}

.text_heading_2 {
  font-size: 2.5rem;
  background: linear-gradient(to right, #FF0000 0%, #FFFF00 25%, #05C1FF 50%, #FFFF00 75%, #FF0000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center !important;



}

.text_heading_3 {
  color: hsl(0, 0%, 0%) !important;
  font-weight: bold !important;
  font-size: 3rem !important;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, rgb(88, 10, 244), rgb(255, 113, 5)) !important;
  -webkit-text-fill-color: transparent !important;
  -webkit-background-clip: text !important;
}

@media only screen and (max-width: 600px) {
  .text_heading_1 {
    font-size: 1.8rem !important;
  }

  .text_technology_heading {
    font-size: 1.8rem !important;
  }

  .text_heading_2 {
    font-size: 1.5rem;
    padding: 10px;
  }

  .text_heading_3 {
    font-size: 1.5rem !important;
  }
}

/* leftsideIntro */
.left_social_media_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 20px !important;
  padding-bottom: 20px !important;
  margin-top: 30px !important;
}

/* Right image component */
.right_img_container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.top_img {
  display: flex;
  align-items: center;
  justify-content: center;

}

.img_box {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  padding: 10px;
  background-image: linear-gradient(-225deg, #FF3CAC 0%, #562B7C 52%, #2B86C5 100%);
}

.third_img {
  margin-top: -30px;
}

@media only screen and (min-width: 720px) and (max-width: 1280px) {
  .img_box {
    width: 180px;
    height: 180px;
  }

  .third_img {
    margin-top: -28px;
  }
}

@media only screen and (min-width: 420px) and (max-width: 719px) {
  .img_box {
    width: 150px;
    height: 150px;
  }

  .third_img {
    margin-top: -23px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 419px) {
  .img_box {
    width: 160px;
    height: 160px;
  }

  .third_img {
    margin-top: -23px;
  }
}

@media only screen and (min-width: 220px) and (max-width: 320px) {
  .img_box {
    width: 100px;
    height: 100px;
  }

  .third_img {
    margin-top: -17px;
  }
}


.btn_container {
  width: 100%;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: space-evenly !important;
  margin-top: 40px !important;
}

.inner_btn {
  width: 8rem;
  padding: 8px !important;
  border-radius: 15px !important;
  background-color: tomato !important;
  color: #fff !important;
  font-weight: 500 !important;
  font-size: 12px !important;
  background-color: violet !important;
  background-image: linear-gradient(-225deg, #FF057C 0%, #8D0B93 50%, #321575 100%);
}

@media only screen and (min-width: 220px) and (max-width: 320px) {
  .inner_btn {
    width: 5rem;
    margin-left: 2px;
  }

}



.carasol_img {
  width: 100% !important;
  height: 60vh !important;
}

@media only screen and (min-width: 720px) and (max-width: 1280px) {
  .carasol_img {
    width: 100% !important;
    height: 50vh !important;
  }
}

@media only screen and (min-width: 420px) and (max-width: 719px) {
  .carasol_img {
    width: 100% !important;
    height: 40vh !important;
  }
}

@media only screen and (min-width: 320px) and (max-width: 419px) {
  .carasol_img {
    width: 100% !important;
    height: 25vh !important;
  }
}

@media only screen and (min-width: 220px) and (max-width: 320px) {
  .carasol_img {
    width: 100%;
    height: 20vh !important;
  }
}





/* Footer */
.footer {
  width: 100%;
  min-height: 40vh;
  background-image: url("./image/footer.svg");
  background-repeat: no-repeat;
  margin-top: 50px;




  height: 500px;
  /* You must set a specified height */
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire contai
  /* background-color: #A54D84; */
}

@media only screen and (min-width: 420px) and (max-width: 719px) {
  .footer {
    height: 40vh;
  }
}

@media only screen and (min-width: 320px) and (max-width: 419px) {
  .footer {
    height: 25vh;
  }
}

@media only screen and (min-width: 220px) and (max-width: 320px) {
  .footer {
    height: 20vh;
  }
}

/* About */
.about_card_logo {
  width: 60px !important;
  height: 60px !important;
  border-radius: 50% !important;
  cursor: pointer !important;
}
.hover_effect:hover{
  padding: 2px;
  background-color: #fff;
}

/* VideoProject */
.video-container {
  width: 100%;
  height: 10%;
  overflow: hidden;
  object-fit: cover;
}

.video-container video {
  width: 100%;
  height: 100%;
}
